/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #a3a3a3;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up remaining space to push footer to bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}